<?xml version="1.0" encoding="UTF-8"?>
<Context path="/bugissuesmanager" reloadable="false">
	<Logger className="org.apache.catalina.logger.FileLogger" prefix="bugissuesmanager." suffix=".log" timestamp="true"></Logger>
	<Resource name="jdbc/bugissuesmanager"
		type="javax.sql.DataSource"
		driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://127.0.0.1:5432/bugissuesmanager"
		username="fred" password="fred" maxActive="10" maxWait="3000" maxIdle="10" removeAbandoned="true" removeAbandonedTimeout="15" />
</Context>
